# map tm2-touchkey to KEY_MENU and KEY_BACK
SUBSYSTEM=="input", KERNEL=="event*", DRIVERS=="tm2-touchkey", \
ENV{KEYBOARD_KEY_00}="menu", ENV{KEYBOARD_KEY_01}="back", RUN{builtin}+="keyboard"
