# disable tm2-touchkey leds by default
# To change the default, copy the file to /etc/udev/rules.d, increase the file name number and change echo to 1.
ACTION=="add", KERNEL=="tm2-touchkey", RUN+="/bin/sh -c 'echo 0 > /sys/class/leds/tm2-touchkey/brightness'"
