/* TWEAKS-START phosh-clock-notch */
.phosh-topbar-clock {
	margin-left: 100.0px;
}
/* TWEAKS-END phosh-clock-notch */
/* TWEAKS-START phosh-panel-btn-space */
.phosh-panel-btn {
	margin-left: 10.0px;
	margin-right: 10.0px;
}
/* TWEAKS-END phosh-panel-btn-space */
