# Reference: https://postmarketos.org/channels.cfg
[channels.cfg]
recommended=edge

[edge]
description=Rolling release channel
branch_pmaports=master
branch_aports=master
mirrordir_pmos=master
mirrordir_alpine=edge

[stable]
description=Upcoming beta release (WIP, DO NOT USE!)
branch_pmaports=release/20.04
branch_aports=3.11-stable
mirrordir_pmos=v20.04
mirrordir_alpine=v3.11
