# https://docs.gitlab.com/ee/user/project/code_owners.html

device/*/*-pine64-pinephone/        @craftyguy @milesalan
device/*/*-purism-librem5/          @craftyguy
main/osk-sdl/                       @craftyguy
temp/u-boot-librem5/                @craftyguy

# vim: ts=4 sw=4 et
