# https://docs.gitlab.com/ee/user/project/code_owners.html

device/*/*-htc-golfu/				@Newbyte
device/*/*-pine64-pinephone/			@craftyguy @milesalan @bshah @proycon @anjandev @StacyHarper
device/*/*-htc-m8qlul/				@Newbyte
device/*/*-purism-librem5/			@craftyguy @bshah
device/*/device-lg-judyln/			@Newbyte
device/*/device-samsung-m0/			@Newbyte
device/*/linux-postmarketos-exynos4/		@Newbyte
device/*/linux-postmarketos-msm8939/		@Newbyte
device/*/linux-postmarketos-stericsson/		@Newbyte
device/*/*-qcom-sdm845/				@sdm845-mainline
device/*/*-xiaomi-berrylium/ 			@joelselvaraj
device/*/device-oneplus-enchilada/		@calebccff
device/*/device-oneplus-fajita/			@calebccff
device/*/firmware-oneplus-sdm845/		@calebccff
device/*/device-shift-axolotl/			@amartinz @calebccff @dylanvanassche
device/*/*-lenovo-a6010/			@jenneron
device/*/*-lenovo-a6000/			@jenneron
device/*/device-microsoft-surface-rt/		@jenneron
device/*/device-google-fennel/			@jenneron
device/*/device-google-veyron-minnie/		@jenneron
device/*/device-google-burnet/			@jenneron
device/*/device-google-elm/			@jenneron
device/*/device-google-nyan-big/		@jenneron
device/*/device-google-peach-pi/		@jenneron
device/*/device-google-veyron-speedy/		@jenneron
device/*/linux-google-veyron/			@jenneron
device/*/u-boot-peach-pi/			@jenneron
device/*/device-google-cozmo/			@jenneron
device/*/u-boot-veyron-speedy/			@jenneron
device/*/device-google-juniper/			@jenneron @binarycraft
device/*/u-boot-peach-pit/			@jenneron
device/*/device-google-damu/			@jenneron
device/*/u-boot-nyan-4gb/			@jenneron
device/*/device-google-kenzo/			@jenneron
device/*/device-google-kodama/			@jenneron
device/*/u-boot-snow/				@jenneron
device/*/device-google-kevin/			@jenneron
device/*/linux-postmarketos-exynos5/		@jenneron @Grimler
device/*/device-google-krane/			@jenneron
device/*/soc-mediatek-mt8183/			@jenneron
device/*/u-boot-veyron-minnie/			@jenneron
device/*/device-google-fennel14/		@jenneron
device/*/linux-google-nyan/			@jenneron
device/*/device-google-willow/			@jenneron
device/*/linux-postmarketos-mediatek-mt8173/	@jenneron
device/*/linux-postmarketos-mediatek-mt8183/	@jenneron @binarycraft
device/*/device-google-nyan-blaze/		@jenneron
device/*/firmware-powervr-gx6250/		@jenneron
device/*/device-google-hana/			@jenneron
device/*/device-google-snow/			@jenneron
device/*/device-google-kappa/			@jenneron
device/*/u-boot-nyan-2gb/			@jenneron
device/*/device-google-veyron-jerry/		@jenneron
device/*/device-google-kakadu/			@jenneron
device/*/firmware-google-veyron-brcm/		@jenneron
device/*/device-google-peach-pit/		@jenneron
device/*/device-lg-judyp/			@jenneron
device/*/device-asus-tf201/			@clamor95
device/*/device-asus-tf300t/			@clamor95
device/*/device-asus-tf300tg/			@clamor95
device/*/device-asus-tf700t/			@clamor95
device/*/device-lg-p895/			@clamor95
device/*/firmware-asus-transformer/		@clamor95 @jenneron
device/*/firmware-lg-x3/			@clamor95
device/*/linux-postmarketos-grate/		@clamor95 @jenneron
device/*/device-samsung-chagallwifi		@Grimler
device/*/device-odroid-xu4			@Grimler
device/*/device-samsung-klimtlte		@Grimler
device/*/linux-samsung-klimtlte			@Grimler
device/*/firmware-odroid-xu4			@Grimler
device/*/linux-samsung-chagallwifi		@Grimler

main/postmarketos-update-depthcharge-kernel/	@jenneron
main/osk-sdl/					@craftyguy
main/postmarketos-ui-plasma-mobile/ 		@bshah
main/ttyescape					@calebccff
temp/u-boot-librem5/				@craftyguy @bshah
temp/alsa-ucm-conf-google-kukui/		@jenneron @binarycraft
temp/alsa-ucm-conf-google-gru/			@jenneron
device/*/*-videostrong-kii-pro/                 @vitali64yt
device/*/*-amlogic-s905*                        @vitali64yt
device/*/linux-postmarketos-amlogic/            @vitali64yt @exkc

# vim: ts=8 sw=4 et
