[D-BUS Service]
Name=org.freedesktop.GeoClue2
Exec=/usr/libexec/geoclue --nmea-socket /var/run/gnss-share.sock
User=geoclue
SystemdService=geoclue.service
