SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_REMOTE_TYPE}=="USB_DCP", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/usr/lib/device-samsung-manta/autodetect-charger.sh"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_REMOTE_TYPE}=="USB", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/usr/lib/device-samsung-manta/sink-usb-power.sh"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Charging", RUN+="/usr/lib/device-samsung-manta/led-charging-manta.sh"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Discharging", RUN+="/usr/lib/device-samsung-manta/led-discharging-manta.sh"
