[Desktop Entry]
Name=Matchbox
Name[en]=Matchbox
Comment=This session logs you into Matchbox
Comment[en]=This session logs you into Matchbox
Exec=matchbox-session
TryExec=matchbox-session
Icon=
Type=Application
DesktopNames=Matchbox
Keywords=launch;Matchbox;desktop;session;
