[Desktop Entry]
Name=Plasma Mobile
Name[en]=Plasma Mobile
Comment=This session logs you into Plasma Mobile
Comment[en]=This session logs you into Plasma Mobile
Exec=dbus-run-session /usr/bin/startplasmamobile
TryExec=/usr/bin/startplasmamobile
Icon=
Type=Application
X-DesktopNames=Plasma Mobile
Keywords=launch;Plasma;mobile;desktop;session;
