# Helper for phosh_get_desktop_app_info_for_app_id() to display the icon
[Desktop Entry]
Version=1.0
Name=Firefox
Icon=firefox
NoDisplay=true
Type=Application
