[Desktop Entry]
Name=mpris-proxy
Comment=Daemon to make Bluetooth audio controls work
Exec=/usr/bin/mpris-proxy
NoDisplay=true
Terminal=false
Type=Application
X-GNOME-AutoRestart=true
