[Desktop Entry]
Type=Application
Name=GNOME XSettings
Exec=env -u GDK_BACKEND /usr/libexec/gsd-xsettings
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-HiddenUnderSystemd=false
