# udev rules file
# All device names can be read from weston's logfile (/tmp/weston.log in postmarketOS)

# Touchscreen detection
SUBSYSTEM=="input", ATTRS{name}=="synaptics", \
ENV{ID_INPUT}="1", ENV{ID_INPUT_TOUCHSCREEN}="1"

