# remap the left key of tm2-touchkey to KEY_MENU
SUBSYSTEM=="input", KERNEL=="event*", DRIVERS=="tm2-touchkey", ENV{KEYBOARD_KEY_00}="menu", RUN{builtin}+="keyboard"
