# enable bluetooth on attach, based on:
# https://source.puri.sm/Librem5/firmware-brcm43752-nonfree/-/commit/3ea6fa6b5804d888ac9c79835753ce03ecf0e6fa
ACTION=="add|bind", SUBSYSTEMS=="sdio", DRIVERS=="brcmfmac", RUN+="/sbin/service -N l5-brcm-bt-enable start"
ACTION=="remove", SUBSYSTEMS=="sdio", ENV{SDIO_ID}=="02D0:*", RUN+="/sbin/service -s l5-brcm-bt-enable stop"
