[Desktop Entry]
Name=Hildon
Name[en]=Hildon
Comment=This session logs you into Hildon
Comment[en]=This session logs you into Hildon
Exec=/etc/postmarketos-ui/xinitrc_hildon.sh
TryExec=/etc/postmarketos-ui/xinitrc_hildon.sh
Icon=
Type=Application
DesktopNames=Hildon
Keywords=launch;Hildon;desktop;session;
