[Desktop Entry]
Name=Hildon
Name[en]=Hildon
Comment=This session logs you into Hildon
Comment[en]=This session logs you into Hildon
Exec=/usr/bin/xinitrc_hildon
TryExec=/usr/bin/xinitrc_hildon
Icon=
Type=Application
DesktopNames=Hildon
Keywords=launch;Hildon;desktop;session;
