[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
Name=Telephony Service handler
Exec=dbus-send --session --print-reply --dest=org.freedesktop.DBus /org/freedesktop/DBus org.freedesktop.DBus.StartServiceByName string:org.freedesktop.Telepathy.Client.TelephonyServiceHandler uint32:0
OnlyShowIn=KDE;
